<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$q</string>
		<key>with</key>
		<string>ℚ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$opt</string>
		<key>with</key>
		<string>⌥</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$cmd</string>
		<key>with</key>
		<string>⌘</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$circ</string>
		<key>with</key>
		<string>∘</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$alpha</string>
		<key>with</key>
		<string>α</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>\9</string>
		<key>with</key>
		<string>₉</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>\8</string>
		<key>with</key>
		<string>₈</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>\7</string>
		<key>with</key>
		<string>₇</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>\6</string>
		<key>with</key>
		<string>₆</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>\5</string>
		<key>with</key>
		<string>₅</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>\4</string>
		<key>with</key>
		<string>₄</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>\3</string>
		<key>with</key>
		<string>₃</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>\2</string>
		<key>with</key>
		<string>₂</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>\1</string>
		<key>with</key>
		<string>₁</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>\0</string>
		<key>with</key>
		<string>₀</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$z</string>
		<key>with</key>
		<string>ℤ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$vscode</string>
		<key>with</key>
		<string>⋊</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$up</string>
		<key>with</key>
		<string>↑</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$union</string>
		<key>with</key>
		<string>∪</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$u</string>
		<key>with</key>
		<string>μ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$turnstile</string>
		<key>with</key>
		<string>⊢</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$top</string>
		<key>with</key>
		<string>⊤</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$to</string>
		<key>with</key>
		<string>→</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$tm</string>
		<key>with</key>
		<string>™</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$thetasm</string>
		<key>with</key>
		<string>θ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$theta</string>
		<key>with</key>
		<string>Θ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$supseteq</string>
		<key>with</key>
		<string>⊇</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$supset</string>
		<key>with</key>
		<string>⊃</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$sum2</string>
		<key>with</key>
		<string>∑</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$sum</string>
		<key>with</key>
		<string>Σ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$subseteq</string>
		<key>with</key>
		<string>⊆</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$subset</string>
		<key>with</key>
		<string>⊂</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$sqrt</string>
		<key>with</key>
		<string>√</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$specialization</string>
		<key>with</key>
		<string>⊑</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$sigma</string>
		<key>with</key>
		<string>σ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$shrug</string>
		<key>with</key>
		<string>¯\_(ツ)_/¯</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$real</string>
		<key>with</key>
		<string>ℝ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$rational</string>
		<key>with</key>
		<string>ℚ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$r</string>
		<key>with</key>
		<string>ℝ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$proves</string>
		<key>with</key>
		<string>⊢</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$prod</string>
		<key>with</key>
		<string>∏</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$primes</string>
		<key>with</key>
		<string>ℙ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$porder</string>
		<key>with</key>
		<string>⊑</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$pi</string>
		<key>with</key>
		<string>π</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$parallel</string>
		<key>with</key>
		<string>∥</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$p</string>
		<key>with</key>
		<string>ℙ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$otimes</string>
		<key>with</key>
		<string>⊗</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$oplus</string>
		<key>with</key>
		<string>⊕</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$ominus</string>
		<key>with</key>
		<string>⊖</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$notin</string>
		<key>with</key>
		<string>∉</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$not</string>
		<key>with</key>
		<string>¬</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$neg</string>
		<key>with</key>
		<string>¬</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$ne</string>
		<key>with</key>
		<string>≠</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$nat</string>
		<key>with</key>
		<string>ℕ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$n</string>
		<key>with</key>
		<string>ℕ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$micro</string>
		<key>with</key>
		<string>μ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$lte</string>
		<key>with</key>
		<string>≤</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$leftarrow</string>
		<key>with</key>
		<string>←</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$left</string>
		<key>with</key>
		<string>←</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$lamda</string>
		<key>with</key>
		<string>λ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$lambda</string>
		<key>with</key>
		<string>λ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$l</string>
		<key>with</key>
		<string>λ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$isomorphism</string>
		<key>with</key>
		<string>≅</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$intersection</string>
		<key>with</key>
		<string>∩</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$int</string>
		<key>with</key>
		<string>ℤ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$infty</string>
		<key>with</key>
		<string>∞</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$infinity</string>
		<key>with</key>
		<string>∞</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$inf</string>
		<key>with</key>
		<string>∞</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$inequality</string>
		<key>with</key>
		<string>≠</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$in</string>
		<key>with</key>
		<string>∈</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$iff</string>
		<key>with</key>
		<string>⇔</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$gte</string>
		<key>with</key>
		<string>≥</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$gamma</string>
		<key>with</key>
		<string>γ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$forall</string>
		<key>with</key>
		<string>∀</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$fatarrow</string>
		<key>with</key>
		<string>⇒</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$falsum</string>
		<key>with</key>
		<string>⊥</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$exists</string>
		<key>with</key>
		<string>∃</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$eq</string>
		<key>with</key>
		<string>≡</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$epsilon</string>
		<key>with</key>
		<string>ε</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$empty</string>
		<key>with</key>
		<string>∅</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$down</string>
		<key>with</key>
		<string>↓</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$delta</string>
		<key>with</key>
		<string>Δ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$def</string>
		<key>with</key>
		<string>≔</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$coprod</string>
		<key>with</key>
		<string>∐</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$congruence</string>
		<key>with</key>
		<string>≅</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$cong</string>
		<key>with</key>
		<string>≅</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$complex</string>
		<key>with</key>
		<string>ℂ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$c</string>
		<key>with</key>
		<string>ℂ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$bot</string>
		<key>with</key>
		<string>⊥</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$beta</string>
		<key>with</key>
		<string>β</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$arrow</string>
		<key>with</key>
		<string>→</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$approx</string>
		<key>with</key>
		<string>≈</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>$.</string>
		<key>with</key>
		<string>∘</string>
	</dict>
</array>
</plist>
