<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>168</key>
	<dict>
		<key>after-last-window-action</key>
		<string>quit</string>
		<key>main-window</key>
		<dict>
			<key>active-tools</key>
			<dict>
				<key>com.qvacua.vimr.tools.file-browser</key>
				<true/>
				<key>com.qvacua.vimr.tools.html-preview</key>
				<true/>
				<key>com.qvacua.vimr.tools.opened-files-list</key>
				<true/>
				<key>com.qvacua.vimr.tools.preview</key>
				<true/>
			</dict>
			<key>appearance</key>
			<dict>
				<key>editor-characterspacing</key>
				<real>1</real>
				<key>editor-font-name</key>
				<string>FuraCodeNerdFontCompleteM-Light</string>
				<key>editor-font-size</key>
				<real>13</real>
				<key>editor-linespacing</key>
				<real>1.1000000238418579</real>
				<key>editor-uses-ligatures</key>
				<false/>
				<key>shows-file-icon</key>
				<true/>
				<key>uses-theme</key>
				<true/>
			</dict>
			<key>draws-parallel</key>
			<true/>
			<key>frame</key>
			<string>{{0, 0}, {1440, 877}}</string>
			<key>is-all-tools-visible</key>
			<false/>
			<key>is-left-option-meta</key>
			<true/>
			<key>is-right-option-meta</key>
			<false/>
			<key>is-show-hidden</key>
			<false/>
			<key>is-tool-buttons-visible</key>
			<true/>
			<key>ordered-tools</key>
			<array>
				<string>com.qvacua.vimr.tools.file-browser</string>
				<string>com.qvacua.vimr.tools.opened-files-list</string>
				<string>com.qvacua.vimr.tools.preview</string>
				<string>com.qvacua.vimr.tools.html-preview</string>
			</array>
			<key>preview-tool</key>
			<dict>
				<key>is-forward-search-automatically</key>
				<false/>
				<key>is-refresh-on-write</key>
				<true/>
				<key>is-reverse-search-automatically</key>
				<false/>
			</dict>
			<key>trackpad-scroll-resistance</key>
			<real>9.3471952649076613</real>
			<key>use-interactive-zsh</key>
			<false/>
			<key>use-live-resize</key>
			<false/>
			<key>workspace-tool</key>
			<dict>
				<key>com.qvacua.vimr.tools.file-browser</key>
				<dict>
					<key>dimension</key>
					<real>200</real>
					<key>is-visible</key>
					<false/>
					<key>location</key>
					<string>left</string>
				</dict>
				<key>com.qvacua.vimr.tools.html-preview</key>
				<dict>
					<key>dimension</key>
					<real>500</real>
					<key>is-visible</key>
					<false/>
					<key>location</key>
					<string>right</string>
				</dict>
				<key>com.qvacua.vimr.tools.opened-files-list</key>
				<dict>
					<key>dimension</key>
					<real>200</real>
					<key>is-visible</key>
					<false/>
					<key>location</key>
					<string>left</string>
				</dict>
				<key>com.qvacua.vimr.tools.preview</key>
				<dict>
					<key>dimension</key>
					<real>503</real>
					<key>is-visible</key>
					<false/>
					<key>location</key>
					<string>right</string>
				</dict>
			</dict>
		</dict>
		<key>open-new-window-on-reactivation</key>
		<true/>
		<key>open-new-window-when-launching</key>
		<true/>
		<key>open-quickly</key>
		<dict>
			<key>default-uses-vcs-ignores</key>
			<false/>
		</dict>
		<key>use-snapshot-update-channel</key>
		<false/>
	</dict>
	<key>ApplePressAndHoldEnabled</key>
	<string>NO</string>
	<key>NSFontPanelAttributes</key>
	<string>1, 1</string>
	<key>NSNavLastRootDirectory</key>
	<string>~/Downloads</string>
	<key>NSNavLastUserSetHideExtensionButtonState</key>
	<true/>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{712, 448}</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{712, 448}</string>
	<key>NSWindow Frame 38.open-quickly-window.frame</key>
	<string>538 260 365 265 0 0 1440 877 </string>
	<key>NSWindow Frame 38.pref-window.frame</key>
	<string>490 201 792 629 0 0 1440 877 </string>
	<key>NSWindow Frame NSFontPanel</key>
	<string>505 166 761 405 0 0 1440 877 </string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2020-03-30T15:21:50Z</date>
</dict>
</plist>
