<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.qvacua.vimr.menuitems.edit.copy</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCBUWFxgZVSRudWxs1gkKCwwNDg8QERATFF1tb2RpZmllckZsYWdzXxAbY2hh
	cmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
	dmVyc2lvboAEgAWABoAFgAOAAlMzLjIQCBIAEAAAUWPSGhscHVokY2xhc3NuYW1lWCRj
	bGFzc2VzWlNSU2hvcnRjdXSiHB5YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRISJU
	cm9vdIABAAgAEQAaACMALQAyADcAPwBFAFIAYAB+AIUAkACYAKAAogCkAKYAqACqAKwA
	sACyALcAuQC+AMkA0gDdAOAA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAA
	AAAAAAEF
	</data>
	<key>com.qvacua.vimr.menuitems.edit.cut</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCBUWFxgZVSRudWxs1gkKCwwNDg8QERATFF1tb2RpZmllckZsYWdzXxAbY2hh
	cmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
	dmVyc2lvboAEgAWABoAFgAOAAlMzLjIQBxIAEAAAUXjSGhscHVokY2xhc3NuYW1lWCRj
	bGFzc2VzWlNSU2hvcnRjdXSiHB5YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRISJU
	cm9vdIABAAgAEQAaACMALQAyADcAPwBFAFIAYAB+AIUAkACYAKAAogCkAKYAqACqAKwA
	sACyALcAuQC+AMkA0gDdAOAA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAA
	AAAAAAEF
	</data>
	<key>com.qvacua.vimr.menuitems.edit.delete</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGCAlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKEHVSRudWxsXxAPTlNLZXllZEFyY2hpdmVy0QoLVHJvb3SAAAgRGiMtMjc5P1FU
	WQAAAAAAAAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
	</data>
	<key>com.qvacua.vimr.menuitems.edit.paste</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCBUWFxgZVSRudWxs1gkKCwwNDg8QERATFF1tb2RpZmllckZsYWdzXxAbY2hh
	cmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
	dmVyc2lvboAEgAWABoAFgAOAAlMzLjIQCRIAEAAAUXbSGhscHVokY2xhc3NuYW1lWCRj
	bGFzc2VzWlNSU2hvcnRjdXSiHB5YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRISJU
	cm9vdIABAAgAEQAaACMALQAyADcAPwBFAFIAYAB+AIUAkACYAKAAogCkAKYAqACqAKwA
	sACyALcAuQC+AMkA0gDdAOAA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAA
	AAAAAAEF
	</data>
	<key>com.qvacua.vimr.menuitems.edit.redo</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCBUWFxgZVSRudWxs1gkKCwwNDg8QERATFF1tb2RpZmllckZsYWdzXxAbY2hh
	cmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
	dmVyc2lvboAEgAWABoAFgAOAAlMzLjIQBhIAEgAAUXrSGhscHVokY2xhc3NuYW1lWCRj
	bGFzc2VzWlNSU2hvcnRjdXSiHB5YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRISJU
	cm9vdIABAAgAEQAaACMALQAyADcAPwBFAFIAYAB+AIUAkACYAKAAogCkAKYAqACqAKwA
	sACyALcAuQC+AMkA0gDdAOAA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAA
	AAAAAAEF
	</data>
	<key>com.qvacua.vimr.menuitems.edit.select-all</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCBUWFxgZVSRudWxs1gkKCwwNDg8QERATFF1tb2RpZmllckZsYWdzXxAbY2hh
	cmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
	dmVyc2lvboAEgAWABoAFgAOAAlMzLjIQABIAEAAAUWHSGhscHVokY2xhc3NuYW1lWCRj
	bGFzc2VzWlNSU2hvcnRjdXSiHB5YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRISJU
	cm9vdIABAAgAEQAaACMALQAyADcAPwBFAFIAYAB+AIUAkACYAKAAogCkAKYAqACqAKwA
	sACyALcAuQC+AMkA0gDdAOAA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAA
	AAAAAAEF
	</data>
	<key>com.qvacua.vimr.menuitems.edit.undo</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCBUWFxgZVSRudWxs1gkKCwwNDg8QERATFF1tb2RpZmllckZsYWdzXxAbY2hh
	cmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
	dmVyc2lvboAEgAWABoAFgAOAAlMzLjIQBhIAEAAAUXrSGhscHVokY2xhc3NuYW1lWCRj
	bGFzc2VzWlNSU2hvcnRjdXSiHB5YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRISJU
	cm9vdIABAAgAEQAaACMALQAyADcAPwBFAFIAYAB+AIUAkACYAKAAogCkAKYAqACqAKwA
	sACyALcAuQC+AMkA0gDdAOAA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAA
	AAAAAAEF
	</data>
	<key>com.qvacua.vimr.menuitems.file.close</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCBUWFxgZVSRudWxs1gkKCwwNDg8QERATFF1tb2RpZmllckZsYWdzXxAbY2hh
	cmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
	dmVyc2lvboAEgAWABoAFgAOAAlMzLjIQDRIAEAAAUXfSGhscHVokY2xhc3NuYW1lWCRj
	bGFzc2VzWlNSU2hvcnRjdXSiHB5YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRISJU
	cm9vdIABAAgAEQAaACMALQAyADcAPwBFAFIAYAB+AIUAkACYAKAAogCkAKYAqACqAKwA
	sACyALcAuQC+AMkA0gDdAOAA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAA
	AAAAAAEF
	</data>
	<key>com.qvacua.vimr.menuitems.file.close-window</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCBUWFxgZVSRudWxs1gkKCwwNDg8QERATFF1tb2RpZmllckZsYWdzXxAbY2hh
	cmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
	dmVyc2lvboAEgAWABoAFgAOAAlMzLjIQDRIAEgAAUXfSGhscHVokY2xhc3NuYW1lWCRj
	bGFzc2VzWlNSU2hvcnRjdXSiHB5YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRISJU
	cm9vdIABAAgAEQAaACMALQAyADcAPwBFAFIAYAB+AIUAkACYAKAAogCkAKYAqACqAKwA
	sACyALcAuQC+AMkA0gDdAOAA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAA
	AAAAAAEF
	</data>
	<key>com.qvacua.vimr.menuitems.file.new</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCBUWFxgZVSRudWxs1gkKCwwNDg8QERATFF1tb2RpZmllckZsYWdzXxAbY2hh
	cmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
	dmVyc2lvboAEgAWABoAFgAOAAlMzLjIQLRIAEAAAUW7SGhscHVokY2xhc3NuYW1lWCRj
	bGFzc2VzWlNSU2hvcnRjdXSiHB5YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRISJU
	cm9vdIABAAgAEQAaACMALQAyADcAPwBFAFIAYAB+AIUAkACYAKAAogCkAKYAqACqAKwA
	sACyALcAuQC+AMkA0gDdAOAA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAA
	AAAAAAEF
	</data>
	<key>com.qvacua.vimr.menuitems.file.new-tab</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCBUWFxgZVSRudWxs1gkKCwwNDg8QERATFF1tb2RpZmllckZsYWdzXxAbY2hh
	cmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
	dmVyc2lvboAEgAWABoAFgAOAAlMzLjIQERIAEAAAUXTSGhscHVokY2xhc3NuYW1lWCRj
	bGFzc2VzWlNSU2hvcnRjdXSiHB5YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRISJU
	cm9vdIABAAgAEQAaACMALQAyADcAPwBFAFIAYAB+AIUAkACYAKAAogCkAKYAqACqAKwA
	sACyALcAuQC+AMkA0gDdAOAA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAA
	AAAAAAEF
	</data>
	<key>com.qvacua.vimr.menuitems.file.open</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCBUWFxgZVSRudWxs1gkKCwwNDg8QERATFF1tb2RpZmllckZsYWdzXxAbY2hh
	cmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
	dmVyc2lvboAEgAWABoAFgAOAAlMzLjIQHxIAEAAAUW/SGhscHVokY2xhc3NuYW1lWCRj
	bGFzc2VzWlNSU2hvcnRjdXSiHB5YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRISJU
	cm9vdIABAAgAEQAaACMALQAyADcAPwBFAFIAYAB+AIUAkACYAKAAogCkAKYAqACqAKwA
	sACyALcAuQC+AMkA0gDdAOAA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAA
	AAAAAAEF
	</data>
	<key>com.qvacua.vimr.menuitems.file.open-in-new-window</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGICFYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKgHCBUWFxgZGlUkbnVsbNYJCgsMDQ4PEBESExRdbW9kaWZpZXJGbGFnc18QG2No
	YXJhY3RlcnNJZ25vcmluZ01vZGlmaWVyc1YkY2xhc3NaY2hhcmFjdGVyc1drZXlDb2Rl
	V3ZlcnNpb26ABIAGgAeABYADgAJTMy4yEB8SABgAAGEA+FFv0hscHR5aJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1pTUlNob3J0Y3V0oh0fWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy
	0SIjVHJvb3SAAQAIABEAGgAjAC0AMgA3AEAARgBTAGEAfwCGAJEAmQChAKMApQCnAKkA
	qwCtALEAswC4ALsAvQDCAM0A1gDhAOQA7QD/AQIBBwAAAAAAAAIBAAAAAAAAACQAAAAA
	AAAAAAAAAAAAAAEJ
	</data>
	<key>com.qvacua.vimr.menuitems.file.open-quickly</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCBUWFxgZVSRudWxs1gkKCwwNDg8QERATFF1tb2RpZmllckZsYWdzXxAbY2hh
	cmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
	dmVyc2lvboAEgAWABoAFgAOAAlMzLjIQHxIAEgAAUW/SGhscHVokY2xhc3NuYW1lWCRj
	bGFzc2VzWlNSU2hvcnRjdXSiHB5YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRISJU
	cm9vdIABAAgAEQAaACMALQAyADcAPwBFAFIAYAB+AIUAkACYAKAAogCkAKYAqACqAKwA
	sACyALcAuQC+AMkA0gDdAOAA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAA
	AAAAAAEF
	</data>
	<key>com.qvacua.vimr.menuitems.file.save</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCBUWFxgZVSRudWxs1gkKCwwNDg8QERATFF1tb2RpZmllckZsYWdzXxAbY2hh
	cmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
	dmVyc2lvboAEgAWABoAFgAOAAlMzLjIQARIAEAAAUXPSGhscHVokY2xhc3NuYW1lWCRj
	bGFzc2VzWlNSU2hvcnRjdXSiHB5YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRISJU
	cm9vdIABAAgAEQAaACMALQAyADcAPwBFAFIAYAB+AIUAkACYAKAAogCkAKYAqACqAKwA
	sACyALcAuQC+AMkA0gDdAOAA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAA
	AAAAAAEF
	</data>
	<key>com.qvacua.vimr.menuitems.file.save-as</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCBUWFxgZVSRudWxs1gkKCwwNDg8QERATFF1tb2RpZmllckZsYWdzXxAbY2hh
	cmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
	dmVyc2lvboAEgAWABoAFgAOAAlMzLjIQARIAEgAAUXPSGhscHVokY2xhc3NuYW1lWCRj
	bGFzc2VzWlNSU2hvcnRjdXSiHB5YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRISJU
	cm9vdIABAAgAEQAaACMALQAyADcAPwBFAFIAYAB+AIUAkACYAKAAogCkAKYAqACqAKwA
	sACyALcAuQC+AMkA0gDdAOAA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAA
	AAAAAAEF
	</data>
	<key>com.qvacua.vimr.menuitems.help.vimr-help</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGCAlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKEHVSRudWxsXxAPTlNLZXllZEFyY2hpdmVy0QoLVHJvb3SAAAgRGiMtMjc5P1FU
	WQAAAAAAAAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
	</data>
	<key>com.qvacua.vimr.menuitems.tools.focus-neovim-view</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCBUWFxgZVSRudWxs1gkKCwwNDg8QERATFF1tb2RpZmllckZsYWdzXxAbY2hh
	cmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
	dmVyc2lvboAEgAWABoAFgAOAAlMzLjIQLxIAEAAAUS7SGhscHVokY2xhc3NuYW1lWCRj
	bGFzc2VzWlNSU2hvcnRjdXSiHB5YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRISJU
	cm9vdIABAAgAEQAaACMALQAyADcAPwBFAFIAYAB+AIUAkACYAKAAogCkAKYAqACqAKwA
	sACyALcAuQC+AMkA0gDdAOAA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAA
	AAAAAAEF
	</data>
	<key>com.qvacua.vimr.menuitems.tools.toggle-all-tools</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCBUWFxgZVSRudWxs1gkKCwwNDg8QERATFF1tb2RpZmllckZsYWdzXxAbY2hh
	cmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
	dmVyc2lvboAEgAWABoAFgAOAAlMzLjIQKhIAEAAAUVzSGhscHVokY2xhc3NuYW1lWCRj
	bGFzc2VzWlNSU2hvcnRjdXSiHB5YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRISJU
	cm9vdIABAAgAEQAaACMALQAyADcAPwBFAFIAYAB+AIUAkACYAKAAogCkAKYAqACqAKwA
	sACyALcAuQC+AMkA0gDdAOAA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAA
	AAAAAAEF
	</data>
	<key>com.qvacua.vimr.menuitems.tools.toggle-buffer-list</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGCAlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKEHVSRudWxsXxAPTlNLZXllZEFyY2hpdmVy0QoLVHJvb3SAAAgRGiMtMjc5P1FU
	WQAAAAAAAAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
	</data>
	<key>com.qvacua.vimr.menuitems.tools.toggle-file-browser</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGCAlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKEHVSRudWxsXxAPTlNLZXllZEFyY2hpdmVy0QoLVHJvb3SAAAgRGiMtMjc5P1FU
	WQAAAAAAAAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
	</data>
	<key>com.qvacua.vimr.menuitems.tools.toggle-html-preview</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGCAlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKEHVSRudWxsXxAPTlNLZXllZEFyY2hpdmVy0QoLVHJvb3SAAAgRGiMtMjc5P1FU
	WQAAAAAAAAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
	</data>
	<key>com.qvacua.vimr.menuitems.tools.toggle-markdown-preview</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGCAlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKEHVSRudWxsXxAPTlNLZXllZEFyY2hpdmVy0QoLVHJvb3SAAAgRGiMtMjc5P1FU
	WQAAAAAAAAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
	</data>
	<key>com.qvacua.vimr.menuitems.tools.toggle-tool-buttons</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCBUWFxgZVSRudWxs1gkKCwwNDg8QERATFF1tb2RpZmllckZsYWdzXxAbY2hh
	cmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
	dmVyc2lvboAEgAWABoAFgAOAAlMzLjIQKhIAEgAAUVzSGhscHVokY2xhc3NuYW1lWCRj
	bGFzc2VzWlNSU2hvcnRjdXSiHB5YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRISJU
	cm9vdIABAAgAEQAaACMALQAyADcAPwBFAFIAYAB+AIUAkACYAKAAogCkAKYAqACqAKwA
	sACyALcAuQC+AMkA0gDdAOAA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAA
	AAAAAAEF
	</data>
	<key>com.qvacua.vimr.menuitems.view.enter-full-screen</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGICFYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKgHCBUWFxgZGlUkbnVsbNYJCgsMDQ4PEBESExRdbW9kaWZpZXJGbGFnc18QG2No
	YXJhY3RlcnNJZ25vcmluZ01vZGlmaWVyc1YkY2xhc3NaY2hhcmFjdGVyc1drZXlDb2Rl
	V3ZlcnNpb26ABIAGgAeABYADgAJTMy4yEAMSABQAAFEGUWbSGxwdHlokY2xhc3NuYW1l
	WCRjbGFzc2VzWlNSU2hvcnRjdXSiHR9YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLR
	IiNUcm9vdIABAAgAEQAaACMALQAyADcAQABGAFMAYQB/AIYAkQCZAKEAowClAKcAqQCr
	AK0AsQCzALgAugC8AMEAzADVAOAA4wDsAP4BAQEGAAAAAAAAAgEAAAAAAAAAJAAAAAAA
	AAAAAAAAAAAAAQg=
	</data>
	<key>com.qvacua.vimr.menuitems.view.font.bigger</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCBUWFxgZVSRudWxs1gkKCwwNDg8QERATFF1tb2RpZmllckZsYWdzXxAbY2hh
	cmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
	dmVyc2lvboAEgAWABoAFgAOAAlMzLjIQRRIAEAAAUSvSGhscHVokY2xhc3NuYW1lWCRj
	bGFzc2VzWlNSU2hvcnRjdXSiHB5YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRISJU
	cm9vdIABAAgAEQAaACMALQAyADcAPwBFAFIAYAB+AIUAkACYAKAAogCkAKYAqACqAKwA
	sACyALcAuQC+AMkA0gDdAOAA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAA
	AAAAAAEF
	</data>
	<key>com.qvacua.vimr.menuitems.view.font.reset-to-default-size</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCBUWFxgZVSRudWxs1gkKCwwNDg8QERATFF1tb2RpZmllckZsYWdzXxAbY2hh
	cmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
	dmVyc2lvboAEgAWABoAFgAOAAlMzLjIQHRIAEAAAUTDSGhscHVokY2xhc3NuYW1lWCRj
	bGFzc2VzWlNSU2hvcnRjdXSiHB5YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRISJU
	cm9vdIABAAgAEQAaACMALQAyADcAPwBFAFIAYAB+AIUAkACYAKAAogCkAKYAqACqAKwA
	sACyALcAuQC+AMkA0gDdAOAA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAA
	AAAAAAEF
	</data>
	<key>com.qvacua.vimr.menuitems.view.font.smaller</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCBUWFxgZVSRudWxs1gkKCwwNDg8QERATFF1tb2RpZmllckZsYWdzXxAbY2hh
	cmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
	dmVyc2lvboAEgAWABoAFgAOAAlMzLjIQGxIAEAAAUS3SGhscHVokY2xhc3NuYW1lWCRj
	bGFzc2VzWlNSU2hvcnRjdXSiHB5YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRISJU
	cm9vdIABAAgAEQAaACMALQAyADcAPwBFAFIAYAB+AIUAkACYAKAAogCkAKYAqACqAKwA
	sACyALcAuQC+AMkA0gDdAOAA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAA
	AAAAAAEF
	</data>
	<key>com.qvacua.vimr.menuitems.window.bring-all-to-front</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGCAlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKEHVSRudWxsXxAPTlNLZXllZEFyY2hpdmVy0QoLVHJvb3SAAAgRGiMtMjc5P1FU
	WQAAAAAAAAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
	</data>
	<key>com.qvacua.vimr.menuitems.window.minimize</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCBUWFxgZVSRudWxs1gkKCwwNDg8QERATFF1tb2RpZmllckZsYWdzXxAbY2hh
	cmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
	dmVyc2lvboAEgAWABoAFgAOAAlMzLjIQLhIAEAAAUW3SGhscHVokY2xhc3NuYW1lWCRj
	bGFzc2VzWlNSU2hvcnRjdXSiHB5YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRISJU
	cm9vdIABAAgAEQAaACMALQAyADcAPwBFAFIAYAB+AIUAkACYAKAAogCkAKYAqACqAKwA
	sACyALcAuQC+AMkA0gDdAOAA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAA
	AAAAAAEF
	</data>
	<key>com.qvacua.vimr.menuitems.window.zoom</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGCAlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKEHVSRudWxsXxAPTlNLZXllZEFyY2hpdmVy0QoLVHJvb3SAAAgRGiMtMjc5P1FU
	WQAAAAAAAAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
	</data>
	<key>version</key>
	<integer>337</integer>
</dict>
</plist>
