* {
    border: none;
    border-radius: 0;
    font-family: 'Symbols Nerd Font', 'Terminus', sans-serif;
    font-size: 16px;
    /* font-size: 13px; */
    min-height: 0;
    margin: 0;
}

window#waybar {
    background-color: #222222;
    /* border-bottom: 3px solid rgba(105, 105, 105, 0.5); */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

/* window#waybar.hidden {
    opacity: 0.2;
} */

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

label {
  /* Manual vertical alignment of the text */
  padding-top: 2px;
}

#workspaces button {
    padding: 0 5px;
    color: #ffffff;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#workspaces button:hover /*, #pulseaudio:hover */ {
    background: rgba(0, 0, 0, 0.2);
    text-shadow: inherit;
    box-shadow: inherit;
}

#workspaces button.focused {
    background-color: #4d4d4d;
    /* box-shadow: inset 0 -2px #ffffff; */
}

#workspaces button.urgent {
    box-shadow: inset 0 -2px #e6bf00;
}

.modules-right .module, #scratchpad, #mode {
    padding-left: 8px;
    padding-right: 8px;
    min-width: 10px;
}

#language {
    min-width: 2.75em;
}

#window, #workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* #scratchpad {
    background: rgba(0, 0, 0, 0.2);
} */

#scratchpad.empty {
	background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    box-shadow: inset 0 -2px #e6bf00;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
/* #battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
} */

/* label:focus {
    background-color: #000000;
} */
