{
  ;; !  | means mandatory
  ;; #  | means optional
  ;; C  | left_command
  ;; T  | left_control
  ;; O  | left_option
  ;; S  | left_shift
  ;; F  | fn
  ;; P  | caps_lock
  ;; Q  | right_command
  ;; W  | right_control
  ;; E  | right_option
  ;; R  | right_shift
  ;; !! | mandatory command + control + optional + shift (hyper)
  ;; ## | optional any
  :profiles {:DefaultGoku
             {:default true
              :alone 10000 ; to_if_alone_timeout_milliseconds (default: 1000)
              :held 500 ; to_if_held_down_threshold_milliseconds (default: 500)
              :delay 500 ; to_delayed_action_delay_milliseconds (default: 500)
              :sim 50 ; simultaneous_threshold_milliseconds (default: 50)
              }}
  ;; :templates ; send to AnyBar (calling osascript is a bit slow)
  ;;            {:anybar "printf \"%s\" | nc -4u -w0 localhost 1738"}
  :input-sources {:en {:language "en"}
                  :ru {:language "ru"}}
  :tos {:to-en {:input :en}
        :to-ru {:input :ru}}
  :froms {:any {:any :key_code}}
  :main [
    {:des "right_command sequence"
     :rules [[:##right_command ["right-cmd-mode" 1] :!right-cmd-mode]
             :right-cmd-mode
             [:#Pd [:to-en ["right-cmd-mode" 0]]]
             [:#Ps [:to-ru ["right-cmd-mode" 0]]]
             [:#Pc [{:key :caps_lock :hold_down_ms 90} ["right-cmd-mode" 0]]]
             [:##t [:page_up ["right-cmd-mode" 0]]]
             [:##g [:page_down ["right-cmd-mode" 0]]]
             [:##comma [:home ["right-cmd-mode" 0]]]
             [:##period [:end ["right-cmd-mode" 0]]]
             [:#P1 [:f1 ["right-cmd-mode" 0]]]
             [:#P2 [:f2 ["right-cmd-mode" 0]]]
             [:#P3 [:f3 ["right-cmd-mode" 0]]]
             [:#P4 [:f4 ["right-cmd-mode" 0]]]
             [:#P5 [:f5 ["right-cmd-mode" 0]]]
             [:#P6 [:f6 ["right-cmd-mode" 0]]]
             [:#P7 [:f7 ["right-cmd-mode" 0]]]
             [:#P8 [:f8 ["right-cmd-mode" 0]]]
             [:#P9 [:f9 ["right-cmd-mode" 0]]]
             [:#P0 [:f10 ["right-cmd-mode" 0]]]
             [:#Phyphen [:f11 ["right-cmd-mode" 0]]]
             [:#Pequal_sign [:f12 ["right-cmd-mode" 0]]]
             [:any ["right-cmd-mode" 0]]]}
    {:des "escape: activate cursor mode"
     :rules [[:##escape ["cursor-mode" 1] nil {:afterup ["cursor-mode" 0]}]]}
    {:des "caps_lock to escape"
     :rules [[:##caps_lock :escape]]}
    {:des "cursor mode"
     :rules [:cursor-mode
             [:##h :left_arrow]
             [:##j :down_arrow]
             [:##k :up_arrow]
             [:##l :right_arrow]
             [:##t :page_up]
             [:##g :page_down]]}
    ;; {:des "disable arrows"
    ;;  :rules [[:##up_arrow :vk_none]
    ;;          [:##left_arrow :vk_none]
    ;;          [:##down_arrow :vk_none]
    ;;          [:##right_arrow :vk_none]]}
  ]
}
